.login-button {
  margin-right: 11px;
}

html, body {overflow: hidden;}

#image {
    position: relative; 
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-attachment: fixed;   */
  }

.fade-in-logo {
  animation: fadeIn 2s;
  position: absolute;
  text-align: center;
  top: 47%;
  left: 50%;
  width: 30vw;
  transform: translate(-50%, -50%);
}

.fade-in-text {
  font-family: Helvetica;
  font-size: 30px;
  /* font-weight: bold; */
  animation: fadeIn 4s;
  position: absolute;
  text-align: center;
  top: 57%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.startBtn {
  font-family: Helvetica;
  /* width: ; */
  /* height: 40px; */
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  animation: fadeIn 6s;
  position: absolute;
  top: 65%;
  left: 50%;
  background-color: rgb(239, 152, 54);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


