.login-button {
    margin-right: 11px;
  
  }

.image {
    height: 90%;
}

.image {
    background-size: cover;
    color: white;
    position: relative;
    display: block;
}  


.title {
    position: absolute;
    text-align: center;
    font-size: 25px;
    line-height: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .button {
    
    
} */
