.login-button {
  margin-right: 11px;
}

.fade-in-logo {
  animation: fadeIn 4s;
  position: absolute;
  text-align: center;
  top: 39%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.fade-in-text {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: bold;
  animation: fadeIn 4s;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.fade-in-button {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  animation: fadeIn 6s;
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  /* color: white; */
  background-color: rgb(232, 171, 82);
  transform: translate(-50%, -50%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image {
  background-size: cover;
  /* color: white; */
  position: relative;
  display: block;
}

/* .title {
    position: absolute;
    text-align: center;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */
