.routeSearch {
    font-size: 40px;
    text-align: center;
    background-color: rgb(198, 198, 198);
    padding: 20px;
}

.start-district {
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}

.finish-district {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.cycling-road {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}


.start {
    text-align: center;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2.2;
}

.finish {
    text-align: center;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2.2;

}

.cycling-road-content {
    text-align: center;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2.2;
}


#selection-1 {
    font-size: 18px;
}

#selection-2 {
    font-size: 18px;
}

#selection-3 {
    font-size: 18px;
}

.route-card {
    padding-left: 30px;
    padding-right: 30px;
}

