#login-register-button {
    align-items: center;
}

.login-button {
  margin-right: 11px;
}


.header {
  padding: 80px;
  text-align: center;
  background-image: url('./search.png');
  background-size: cover;
  background-position: center;
  height: 250px;
  font-size: 50px;
  font-weight: bold;
  /* display: flex; */
  align-items: center;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  /* text-shadow: rgb(255, 255, 255) 5px 0 10px; */
  /* color: rgb(126, 8, 8);
  font-size: 30px; */
}


/* Place text in the middle of the image */
/* .hero-text {
  position: absolute;
  text-align: center;
  font-size: 25px;
  line-height: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


.routeSearch {
  font-size: 40px;
  text-align: center;
  background-color: rgb(198, 198, 198);
  padding: 20px;
}

.start-district {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: rgb(49, 108, 244);
  padding-top: 20px;
}

.finish-district {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: rgb(49, 108, 244);
  padding-top: 20px;
  /* letter-spacing: 1px; */
}

.list-group-item1 {
    /* background-color: rgb(200, 200, 200); */
    line-height: 3;
}

.list-group-item2 {
  background-color: rgba(200, 200, 200, 0.5);
  line-height: 3;
}

.list-group-item3 {
    /* background-color: rgb(200, 200, 200); */
    line-height: 3;
}

.list-group-item4 {
  background-color: rgba(200, 200, 200, 0.5);
  line-height: 3;
}

.list-group-item5 {
    /* background-color: rgb(200, 200, 200); */
    line-height: 3;
}

.list-group-item6 {
  /* background-color: rgba(200, 200, 200, 0.5); */
    line-height: 3;
}

.list-group-item7 {
    background-color: rgba(200, 200, 200, 0.5);
    line-height: 3;
}

.list-group-item8 {
    /* background-color: rgba(200, 200, 200, 0.5); */
    line-height: 3;
}

.list-group-item9 {
    background-color: rgba(200, 200, 200, 0.5);
    line-height: 3;
}

.list-group-item10 {
    /* background-color: rgba(200, 200, 200, 0.5); */
    line-height: 3;
}

.start {
  text-align: center;
  font-size: 17px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 2.2;
}

.finish {
  text-align: center;
  font-size: 17px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 2.2;
}

.cycling-road {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    color: rgb(49, 108, 244);
  }

.cycling-road-content {
  text-align: center;
  font-size: 17px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 2.2;
}

.center-button {
    padding-top: 30px;
}

#selection-1 {
  font-size: 18px;
}

#selection-2 {
  font-size: 18px;
}

#selection-3 {
  font-size: 18px;
}

.route-card {
  padding-left: 30px;
  padding-right: 30px;
}
